li {
}

.popup {
  padding: 20px;
  font-size: 30px;
  background-color: #caffc2;
  opacity: 100%;
  max-width: 300px;
}

.popupShift {
  padding: 20px;
  font-size: 20px;
  background-color: #ffc6c2;
  opacity: 100%;
  max-width: 300px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.App {
  margin: 30px;
  text-align: center;
}

.characterMap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  margin-right: 200px;
}

.buttonLike {
  font-weight: bold;
  cursor: pointer;
}
.maxmin {
  text-align: right !important;
  font-size: 10px;
}
.form-control {
  width: 60px;
  display: inline !important;
  font-size: 10px;
  margin-bottom: 10px;
}
.character {
  font-size: 50px;
  margin: 30px;
}

.sel-1 {
  background-color: green;
}

.sel-2 {
  background-color: yellow;
}

.sel-3 {
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
